# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
bin/
lib/
develop-eggs/
dist/
downloads/
eggs/
.installed.cfg
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
.build/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# Reportes temporales
*.csv
